<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>記事について</title>
        <%= stylesheet_link_tag "show" %>
    </head>
    <body>
        <div id = "article_header">
            <div id = "article_title">
                <p>サンプルタイトルだよ♡</p>
            </div>
            <div id = "article_tag">
                <p>タグだよ♡</p>
            </div>
        </div>
        <div id = "contents">
            <div id = "main-column" class = "column">
                <p>内容だよ♡</p>
            </div>
            <div id = "sub-column" class = "column">
                <p>サブカラムだよ♡</p>
            </div>
        </div>
        <div id="writer">
            <p>書いた人だよ♡</p>
        </div>
        <div id = "comments">
            <p>コメントだよ♡</p>
        </div>
	</body>
</html>