<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>充実のコードサンプル！Code Recipe</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag "welcome" %>
</head>

<body>
  <div class="container">
  <header id="header" class="welcome_header">
    <h1>Code Recipe</h1>
  </header><!-- /header -->
  
    <div class="col-xs-12">
      <div class = "col-xs-4">
          <dl class = "category">
            <dt><h2>何を作るかで探す</h2></dt>
            <dd>Web系</dd>
            <dd>ゲーム</dd>
            <dd>組み込み</dd>
            <dd>その他</dd>
          </dl>

          <dl>
            <dt><h2>言語で探す</h2></dt>
            <dd>Ruby</dd>
            <dd>Python</dd>
            <dd>Java</dd>
            <dd>PHP</dd>
            <dd>その他</dd>
          </dl>
      </div>

      <div class = "col-xs-8">
          <h2>評価の高いレシピ</h2>
            <ul class="col-xs-12 good_recipe_ul">
              <li class="col-xs-4"><h3>Web</h3>
                <ul>
                  <li>画像</li>
                  <li>タイトル</li>
                  <li>説明文</li>
                </ul>
              </li>

              <li class="col-xs-4"><h3>ゲーム</h3>
                <ul>
                  <li>画像</li>
                  <li>タイトル</li>
                  <li>説明文</li>
                </ul>
              </li>

              <li class="col-xs-4"><h3>組み込み</h3>
                <ul>
                  <li>画像</li>
                  <li>タイトル</li>
                  <li>説明文</li>
                </ul>
              </li>
            </ul>

          <h2>話題のレシピ</h2>
          <ul>
            <li>画像</li>
            <li>タイトル</li>
            <li>説明文</li>
          </ul>
      </div>
    </div>

  </div>
</body>
</html>