body{
	background-color: #FAEBD7;
}

p{
	color: #424242;
}

span{
	font-size: 30px;
	color: #3B170B;
}

#header{
	margin: 0 auto;
	padding: 0;
	width:95%;
}

#header img{
	width: 20%;
	float: left;
}


#article_header{
	width:100%;
	color: #3B170B;
	clear: both;
}

#article_title{
	margin: 0 auto;
	padding: 0;
	width:95%;
}

#article_title > h1{
	margin: 0;
}

#article_tag{
	margin: 0 auto;
	width:95%;
	background-color: #FAEBD7;
}

#article_tag > p{
	margin: 0;
}

#contents{
	margin: 0 auto;
	width:95%;
	background-color: #FAEBD7;
}

#main-column{
	width: 80%;
	background-color: white;
	color: #424242;
	border-style: solid;
	border-width: 2px;
	border-color: #FFE8AF;
}

#sub-column{
	width: 19%;
	background-color: #FAEBD7;
	color: #424242;
}

.in_div_word_box{
	padding-left: 3%;
}

.column{
	float: left
}

#writer{
	margin: 0 auto;
	width:95%;
	background-color: #FAEBD7;
	clear: both;
}

#comments{
	margin: 0 auto;
	width: 80%;
	background-color: #FAEBD7;
	float: left;
}

#empty{
	width: 20%;
	float: left;
}

form{
	text-align : center ;
	width: 100%;
}

#comments textarea{
	width:70%;
}

input{
	width:25%;
}