li {
  list-style-type: none;
}

.welcome_header {
   width: 2000px;
   height: 60px;
}


div.block1 {
   float: left;
   width: 300px;
   height: 1000px;
}


.good_recipe_ul {
   height: 200px;
}
.category {
   height: 200px;
}